.betsContent {
    background-color: rgba(0,0,0,0.3);
    margin-top: 40px;
    min-height: 580px;
    border-radius: 3px;
    margin-bottom: 205px;
    padding: 15px 15px 0px 15px;
    width: 100%;
    height: auto;
}

.betsData {
    display: inline-block;
    display: -webkit-inline-box;
}

betsContent p {
    text-align: justify;
}

.betsEncart {
    background-color: rgba(255,255,255,0.4);
    padding: 20px;
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 3px;
}

.betsPict {
    background-image: url(../images/betForm.jpg);
    height: 100%;
    background-repeat: no-repeat;
}

hr.betsHr {
    margin: 10px;
    padding: 0;
    border: 1px solid whitesmoke;
}

.validBetBut {
    width: 100%;
    color: black;
    border: 1px solid black;
    padding: 5px 0px 5px 0px;
    margin: 15px 0px 0px 0px;
    border-radius: 3px;
    background-color: rgba(0,0,0,0.4);
}

.validBetBut:hover {
    background-color: black;
    color: whitesmoke;
    border-color: whitesmoke;
}

.windowBets {
    padding-top: 100px;
}

.windowBets a {
    border: 1px solid black;
    width: 100%;
    text-align: center;
    color: black;
    height: 39px;
    padding-top: 8px;
    background-color: rgba(0,0,0,0.2);
}

.windowBets a:hover {
    background-color: black;
    color: whitesmoke;
    border-color: black;
}

.windowBets h1 {
    margin: 0;
    padding: 0;
}
