.betsContent {
    background-color: rgba(0,0,0,0.3);
    margin-top: 80px;
    height: 580px;
    border-radius: 3px;
    margin-bottom: 205px;
    padding: 15px;
}

.betsEncart {
    
    background-color: rgba(255,255,255,0.4);
}

.betsPict {
    background-image: url(../images/betForm.jpg);
    height: 100%;
    background-repeat: no-repeat;
}

.windowBets {
    padding-top: 100px;
}

.windowBets a {
    border: 1px solid black;
    width: 100%;
    text-align: center;
    color: black;
    height: 39px;
    padding-top: 8px;
}

.windowBets a:hover {
    background-color: black;
    color: whitesmoke;
    border-color: black;
}

.windowBets h1 {
    margin: 0;
    padding: 0;
}
