* {
    margin: 0;
    padding: 0;
    //background-image: url(../images/pattern.png);
}

.clear {
    clear: both;
}

footer {
    width: 100%;
    height: 200px;
    color: white;
    background-image: url(../images/pattern.png);
}

.gg a img {
    margin: 0px 0px 0px 2px;
    padding: 4px;
    height: 60px;
}

.menu-top {
    
    width: 100%;
    height: 60px;
    padding: 0;
    margin: 0;
    background-color: rgba(0,0,0,0.4);
    
    header {
        width: 100%;
        height: 30px;
        background-color: black;
        color: white;
        background-image: url(../images/pattern2.png);
    }
    
    a {
        margin: 50px;
        height: 100%;
    }
    
    li {
        height: 100%;
    }
    
    ul {
        height: 100%;
        padding: 0;
    }
}

.homePict {
    background-image: url(../images/home.jpg);
    background-size: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment:fixed;
}

.start {
    height: 910px;
}

.test {
    background-color: red;
}
