* {
    margin: 0;
    padding: 0;
    //background-image: url(../images/pattern.png);
}

.clear {
    clear: both;
}

.contMenu {
    margin-top: 3px;
}

footer {
    width: 100%;
    height: 200px;
    background-image: linear-gradient(transparent, black);    //rgba(0,0,0,0.1);
    margin-top: -200px;
    //background-image: url(../images/pattern.png);
}

.homeContent {
    background-color: rgba(0,0,0,0.3);
    margin-top: 110px;
    height: 700px;
    border-radius: 3px;
}

.homePict {
    background-image: url(../images/home.jpg);

    height: 100%;
    background-repeat: no-repeat;
}

.homePict2 {
    background-image: url(../images/home2.jpg);

    height: 100%;
    background-repeat: no-repeat;
}

.imageMenu a img {
    margin: 0px 0px 0px 2px;
    padding: 4px;
    height: 60px;
}

.menu-top {
    
    width: 100%;
    height: 60px;
    padding: 0;
    margin: 0;
    background-color: rgba(0,0,0,0.4);
    
    header {
        width: 100%;
        height: 30px;
        background-color: black;
        color: white;
        background-image: url(../images/pattern2.png);
    }
    
    a {
        margin: 50px;
        height: 100%;
    }
      
    li {
        height: 100%;
    }
    
    ul {
        height: 100%;
        padding: 0;
    }
}

.nav li .btn {
    box-shadow: none;
    background-color: transparent;
    color: white;
    margin-right: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.nav li .btn:hover {
    background-color: rgba(0,0,0,0.3);
    border: 1px solid #b8c7ce;
    border-radius: 2px;
    color: #b8c7ce;
}

.start {
    height: 920px;
    background-image: url(../images/pattern.png);
}
