<!DOCTYPE html>
<html>
    <head>
        <title>BetFun</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="resources/css/common.css" type="text/css" media="screen" />
        <link rel="icon" type="image/x-icon" href="resources/images/betfun.jpg" />
    </head>

    <body>

        <header>
            <ul>
                <li>
                    <a href="/home.jsp">
                        <img src="resources/images/betfun.png"/>
                    </a>
                </li>
            </ul>
        </header>
    
