<!DOCTYPE html>
<html>
    <head>
        <title>BetFun</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="resources/css/common.less" type="text/css" media="screen" />
        <link rel="stylesheet" href="resources/css/bootstrap.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="resources/css/bootstrap-theme.css" type="text/css" media="screen" />
        
        <link rel="icon" type="image/x-icon" href="resources/images/betfunFlav.png" />
        
        <!--   Insert bootstrap.min.js from internet   -->    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" 
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" 
        crossorigin="anonymous"></script>
        
    </head>

    <body>

        <header>
            <div class="navbar navbar-fixed-top menu-top" role="navigation">

                    
                <ul class="navbar-nav navbar-collapse">
                    <li class="imageMenu">
                        <a href="">
                            <img src="resources/images/betfun.png"/>
                        </a>
                    </li>
                </ul>
 
                <div class="container contMenu">
                    <ul class="nav navbar-nav">
                        <li>
                            <a class="btn" href="#">Paris</a>
                        </li>
                        <li>
                            <a class="btn" href="#">Tournois</a>
                        </li>
                        <li>
                            <a class="btn" href="#">Classement</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                       <li>
                           <a type="button" class="btn" href="#">Mon compte</a>
                       </li>
                   </ul>
                </div>


                <div class="clear"></div>

            </div>
        </header>
    
