<!DOCTYPE html>
<html>
    <head>
        <title>BetFun</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="resources/css/common.less" type="text/css" media="screen" />
        <link rel="stylesheet" href="resources/css/bootstrap.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="resources/css/bootstrap-theme.css" type="text/css" media="screen" />
        
        <link rel="icon" type="image/x-icon" href="resources/images/betfunFlav.png" />
        
        <!--   Insert bootstrap.min.js from internet   -->    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" 
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" 
        crossorigin="anonymous"></script>
        
    </head>

    <body>

        <header>
            <div class="navbar navbar-custom navbar-fixed-top menu-top" role="navigation">

                    
                <ul class="navbar-nav collapse navbar-collapse col-lg-8">
                    <li class="gg">
                        <a href="/home.jsp">
                            <img src="resources/images/betfun.png"/>
                        </a>
                    </li>
                </ul>
 

                <ul class="nav navbar-nav collapse navbar-collapse navbar-right col-lg-4" style="margin-right: auto;">

                    <li class="">
                        <a class="btn" href="#">Paris</a>
                    </li>
                    <li>
                        <a class="btn" href="#">Mon compte</a>
                    </li>
                    <li>

                    </li>
                </ul>


                <div class="clear"></div>

            </div>
        </header>
    
